section.guide
  img(src=`${imgUrl}/about/guide-background.png`, alt="").guide__background
  .guide__container
    h2.guide__title как купить?
    .guide__content
      .guide__content-header
        .guide__case
          .guide__case-header
            img(src=`${icnUrl}/about-star.svg` alt="").guide__case-icon
            span.guide__content-title частному покупателю
          .guide__case-info
            span.guide__content-text Наличный расчет при самовывозе товара со склада нашей компании;
            span.guide__content-text Оплата в почтовом отделении или транспортной компании при получении товара;
            span.guide__content-text Оплата на карту Сбербанк через систему «Сбербанк Онлайн» или банкомат.
        .guide__case
          .guide__case-header
            img(src=`${icnUrl}/about-star.svg` alt="").guide__case-icon
            span.guide__content-title организации (ооо, ип, кфх)
          .guide__case-info
            span.guide__content-text Безналичная оплата на расчетный счет нашей компании.
      .guide__content-footer
        span.guide__content-title также возможна оплата наложенным платежом
        .guide__content-list
          span.guide__content-text Мы отправляем Вам товар.
          span.guide__content-text Груз прибывает в место назначения.
          span.guide__content-text Вы проверяете груз, убеждаетесь, что все в порядке, и только потом производите оплату.
    .guide__payments
      img(src=`${icnUrl}/about-mastercard.svg` alt="").guide__payments-icon.guide__payments-icon_master
      img(src=`${icnUrl}/about-visa.svg` alt="").guide__payments-icon.guide__payments-icon_visa
      img(src=`${icnUrl}/about-mir.svg`, alt="").guide__payments-icon.guide__payments-icon_mir
      img(src=`${icnUrl}/about-sber.svg`, alt="").guide__payments-icon.guide__payments-icon_sber
