section.advantages
  .advantages__wrapper
    .advantages__container
      h2.advantages__title почему мы?
      .advantages__list
        .advantages__item
          .advantages__item-header
            .advantages__item-icon
              img(src=`${icnUrl}/advantages-building.svg`, alt="").advantages__item-icon-source
            span.advantages__item-title >270 000 Га
          span.advantages__item-text огорожено за 7 лет с начала производства электропастухов
        .advantages__item
          .advantages__item-header
            .advantages__item-icon
              img(src=`${icnUrl}/advantages-animal.svg`, alt="").advantages__item-icon-source
            span.advantages__item-title >7 000
          span.advantages__item-text российских и зарубежных хозяйств выбрали Статик-3М
        .advantages__item
          .advantages__item-header
            .advantages__item-icon
              img(src=`${icnUrl}/advantages-achievement.svg`, alt="").advantages__item-icon-source
            span.advantages__item-title 18 месяцев
          span.advantages__item-text составляет гарантийный срок обслуживания каждого прибора
        .advantages__item.advantages__item_flag
          .advantages__item-header
            .advantages__item-icon
              img(src=`${icnUrl}/advantages-flag.svg`, alt="").advantages__item-icon-source
            span.advantages__item-title производим в России
          span.advantages__item-text Мы находимся в Алтайском крае — крупном аграрном регионе. Поэтому не понаслышке знаем об особенностях содержания скота
        .advantages__item.advantages__item_wallet
          .advantages__item-header
            .advantages__item-icon
              img(src=`${icnUrl}/advantages-wallet.svg`, alt="").advantages__item-icon-source
            span.advantages__item-title Оплата наложенным платежом
          span.advantages__item-text Отправляем заказы наложенным платежом. Оплата происходит при получении товара лично в руки
        .advantages__item.advantages__item_delivery
          .advantages__item-header
            .advantages__item-icon
              img(src=`${icnUrl}/advantages-delivery.svg`, alt="").advantages__item-icon-source
            span.advantages__item-title Доставка в любой населенный пункт
          span.advantages__item-text Высылаем электропастухи во все населенные пункты России и ближнего зарубежья