extends layouts/main/template

block content
  .main
    a(href=`${viewsUrl}/main/index.html`) main
  .main
    a(href=`${viewsUrl}/404/index.html`) 404
  .main
    a(href=`${viewsUrl}/about/index.html`) About
  .main
    a(href=`${viewsUrl}/catalog/index.html`) catalog
  .main
    a(href=`${viewsUrl}/feedback/index.html`) Feedback
  .main
    a(href=`${viewsUrl}/shipping/index.html`) Shipping
  .main
    a(href=`${viewsUrl}/item/index.html`) Item
  .main
    a(href=`${viewsUrl}/contacts/index.html`) Contacts
  .main
    a(href=`${viewsUrl}/shop/index.html`) Shop
